CC.Business.ProfileManager.Core/BusinessObjects/Clusters_Profile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2016 (x64) (http://www.altova.com) -->
<xs:schema xmlns="urn:crif-cribiscom-clusters-2018-06-03" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:crif-cribiscom-clusters-2018-06-03" elementFormDefault="qualified">
	<xs:element name="CP">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DefaultClusters">
					<xs:complexType>
						<xs:attribute name="V" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="CustomClusters">
					<xs:complexType>
						<xs:attribute name="V" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
